.timeCtrl {
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    max-width: 250px;
    line-height: 1.2;
}

.timeCtrl .timeCtrlTitle,
.timeCtrl .timeCtrlLegend,
.timeCtrl .timeCtrlValue,
.timeCtrl .timeCtrlRows {
    margin: 0.5em 0;
    line-height: 1.1;
}

.timeCtrl .timeCtrlTitle {
    font-size: 1.5em;
}
.timeCtrl .timeCtrlLegend {
    font-size: 0.9em;
    font-style: italic;
}

.timeCtrl .timeCtrlValue,
.timeCtrl .timeCtrlRows {
    font-size: 1em;
}

.timeCtrl .timeCtrlYearSlider {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.timeCtrl .timeCtrlRadio {
    width: 100%;
    text-align: center;
}

.timeCtrl .timeCtrlSlider {
    width: 100%;
}

.timeCtrl output {
    font-size: 1.5em;
    width: 3em;
    text-align: center;
}
.leaflet-popup-content .timeCtrlPopup {
    margin: 0.2em 0;
}
