.timeCtrl {
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 10px;
}
.timeCtrl .timeCtrlTitle {
    font-size: 1.5em;
    margin: 2px;
}
.timeCtrl .timeCtrlYear {
    font-size: 2em;
    margin: 2px;
    text-align: center;
}

.timeCtrl .timeCtrlYearSlider {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.timeCtrl .timeCtrlRadio {
    width: 100%;
    text-align: center;
}

.timeCtrl .timeCtrlSlider {
    width: 100%;
}

.timeCtrl output {
    font-size: 1.5em;
    width: 3em;
    text-align: center;
}
